@import 'utility';

$base-font: 16;
$scale-factor: 1.618; /* http://type-scale.com/ Augmented Fourth */
$base-color: rgb(62, 63, 66);

html {
  font: #{$base-font}px/#{$scale-factor}rem 'Suma', Georgia,Times,"Times New Roman",serif;
}

body {
  max-width: 55em;
  margin: auto;
  padding: 0 1rem;
  background-color: white;
}

@for $heading-level from 1 through 6 {
  h#{$heading-level} {
    font-family: 'Lato', sans-serif;
    font-size: pow($scale-factor, 4 - $heading-level) * 1em;
  }
}

figure {
    width: 500px;
    float: left;

    figcaption {
        font-size: smaller;
        padding: autop .25em;
    }

    img {
        border-radius: 5px;
        border: 2px solid $base-color;
        box-shadow: 5px 5px 6px -5px lighten($base-color, 10%);
    }
}

blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 3px;
    background-color: rgb(194, 195, 198);
}
